


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100vw;
    height: auto;
    background-color: #fff;
    animation: wrapperFade 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes wrapperFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}